body{
	font-family:arial;
}
header{
	padding:5px;
	background:#BC8C60;
	text-align:center;
}
nav{
	padding:5px;
	background:#FAEBD7;
}
main{
	padding:5px;
	background:#FAEBD7;
}
footer{
	padding:5px;
	background:#BC8C60;
}
#horizontal{
	height:auto;
	max-width:90%;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

h3{
	color:white;
}
p{
	padding:5px;
}
.hidden{
	display:none;
}
.milo{
	text-align:center;
}
.hide{
	display:none;
}
.hid{
	display:none;
}
#container{
	display:flex;
}
.column{
	flex:3;
}
/*Navigation*/
#main-nav li:hover{
	background: #BC8C60;
}
#main-nav ul{
	list-style-type:none;
	padding:0px;
}
#main-nav a{
	text-decoration:none;
	color:black;
	padding:5px;
}
#main-nav li{
	padding:5px;	
	border:2px solid #BC8C60;
	background:#F2A2C0;
}	
/*Larger Resolutions*/
@media(min-width:720px){
	#content{
		width:90%;
		margin:auto;
	}
	body{
		font-family:arial;
	}
	header{
		padding:5px;
		background:#BC8C60;
		text-align:center;
	}
	nav{
		padding:5px;
		background:#FAEBD7;
	}
	main{
		padding:5px;
		background:#FAEBD7;
	}
	footer{
		padding:5px;
		background:#BC8C60;
	}
	/*Navigation*/
	#main-nav a:hover{
		background: #BC8C60;
	}
	#main-nav ul{
		list-style-type:none;
		text-align: center;
		padding:5px;
	}
	#main-nav li{
		display:inline;
		border: 2px solid #FAEBD7;
	}
	#main-nav a{
		text-decoration:none;
		background:#F2A2C0;
		color:black;
		padding:5px;
	}
}
@ media print{
	body{
	font-family:serif;	
	}
	#main-nav{
		display:none;
	}
	header, footer{
		display:none;
	}
}